.app-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.form-overlay {
  position: absolute;
  right: 50px;
  top: 10px;
  width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  padding: 20px 30px;
   /* Soft dark transparent bg */
  border-radius: 16px;
  color: #fff;
  backdrop-filter: blur(8px); /* optional: gives frosted glass look */
}

.form-overlay h2,
.form-overlay h4 {
  margin-top: 0;
  color: #f5f5f5;
}

.form-overlay input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.form-overlay button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  background-color: #0cbaba;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 10px;
}

.font_size{
  font-size:larger;
}

.title{
  font-size: x-large;
}

